.jumbotron {
  background-image: url("../images/lax.jpg");
  background-size: cover;
  height: 500px;
  color: white;
}

.jumboText {
  position: relative;
  margin-top: -35px;
}

.card {
  margin: 20px;
}

.card-header {
  background-color: dodgerblue;
  color: white;
}

.byLine {
  font-size: 12px;
  margin-top: 5px;
}

img {
  margin-left: 10px;
}

.alert-heading {
  font-size: 22px;
  display: table;
  margin: 0 auto;
}

.btn {
  margin: 5px;
}

#txtNote {
  width: 100%;
}

.btnEdit {
  display: none;
}
